body {
    background: #90e0ef;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: 125px 150px 405px minmax(300px, 800px);
    grid-template-areas:
        "hdline"
        "zip"
        "feel"
        "entry";
    height: 100vh;
    background: #90e0ef;
    color: #006d77;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    font-size: 18px;
    margin-top: 15px;

}

.entry {
    grid-area: entry;
    background: rgba(59, 74, 107, .4);

}

.entry-data {
    font-size: 30px;
    color: #d3fa11;
    margin: 10px 0px 0px 10px;
}

#entryHolder {}

#date {}

#temp {}

#content {}

.headline {
    grid-area: hdline;
    font-size: 2em;
    text-align: center;
}

.feel {
    grid-area: feel;
    /* display: flex;
     flex-direction: column;
    row-gap: 10px;
    border: 1px solid rgba(59, 74, 107, .4) */
}

.title {
    font-size: 2em;
    color: #f1faee;
    padding: 10px 0px 0px 10px;
    border-bottom: 2px solid rgba(59, 74, 107, .4);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {

    display: block;
    font-size: 2em;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #264653;
    font-size: 27px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background-color: #22b2da;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #264653;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #e5e5e5;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e5e5e5;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e5e5e5;
    font-family: 'Oswald', sans-serif;

}